* {
	margin: 0;
	padding: 0;
	text-align: left;
}

body {
	background: #FFF;
	color: #111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding: 30px 30px 0 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Slabo 27px', serif;
}

h1 {
	font-size: 27px;
	margin: 0 0 20px 0;
	clear: both;
}

h2 {
	font-size: 25px;
	font-weight: 100;
	margin: 0 0 15px 0;
}

p {
	margin: 0 0 10px 0;
	line-height: 19px;
}

ul, ol {
	margin: 0 0 10px 20px;
}

li {
	margin: 0 0 5px 0;
	line-height: 19px;
}

#content {
	width: 540px;
	padding: 10px 40px 10px 10px;
	margin: 0 auto;
}

#navigation {
	list-style: none;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

#navigation li {
	background: #FFF;
	float: left;
	padding: 2px;
}

#navigation a {
	color: #111;
	text-decoration: none;
}

#navigation .top {
	position: absolute;
	top: 30px;
	left: 8px;
	font-size: 30px;
	margin-bottom: 60px;
	width: 30px;
}

#navigation .prev {
	position: fixed;
	top: 100px;
	left: 3px;
	width: 30px;
}

#navigation .next {
	position: fixed;
	top: 100px;
	right: 3px;
	width: 30px;
}

#navigation .restart {
	position: fixed;
	top: 100px;
	right: 1px;
	width: 30px;
}